     
      
       
         <span class="datetime"><i class="far fa-clock"></i><%= @detail.created_at %></span>
      
        <h1><%= @detail.title %></h1>
        
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.categoryy %></span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.taga %>　</span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagb %>　　</span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagc %>　　</span>
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagd %>　　</span> 
        <br>
        <br>
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tage %>　　</span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagf %>　　</span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagg %>　　</span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagh %>　　</span> 
        <span class="tag"><i class="fas fa-tag"></i> <%= @detail.tagi %>　　</span> 


        
        <div class="buttons">
            <ul class="shareList">
              <li class="shareList__item">
              
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="shareList__link icon-twitter" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    
            　</li>
            　
              <li class="shareList__item"><a class="shareList__link icon-facebook" href="#" target="_blank" title="Facebook"></a>
              </li>
              <li class="shareList__item"><a class="shareList__link icon-hatebu" href="#" target="_blank" title="はてなブックマーク"></a></li>
              <li class="shareList__item"><a class="shareList__link icon-pinterest" href="#" target="_blank" title="Pinterest"></a></li>
              <li class="shareList__item"><a class="shareList__link icon-line" href="#" target="_blank" title="LINE"></a></li>
        </ul>
            
        </div>
        
 
        <div class="sp">
          <p>スポンサーリンク</p>
          <%= image_tag("sp_test01.png")%>
       </div>
       
   
       <p><%= @detail.content.html_safe %></p>
       
        
        <div class="spt">
            <p>スポンサーリンク</p>
            <%= image_tag("sp_test02.png")%>
            <%= image_tag("sp_test02.png")%>
        </div>
        
        
        
           
        <h1 class="share">今すぐシェア！</h1>
           
        <div class="buttons">
            <ul class="shareList">
              <li class="shareList__item"><a class="shareList__link icon-twitter" href="#" target="_blank" title="Twitter"></a></li>
              <li class="shareList__item"><a class="shareList__link icon-facebook" href="#" target="_blank" title="Facebook"></a></li>
              <li class="shareList__item"><a class="shareList__link icon-hatebu" href="#" target="_blank" title="はてなブックマーク"></a></li>
              <li class="shareList__item"><a class="shareList__link icon-pinterest" href="#" target="_blank" title="Pinterest"></a></li>
              <li class="shareList__item"><a class="shareList__link icon-line" href="#" target="_blank" title="LINE"></a></li>
        </ul>
        </div>
